@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Engenharia de Software</h1>
    <p class="lead">Projeto final de conclusão do bloco de <b>asdfsdfsdfsd</b> do Instituto INFNET</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>André Sant'Anna</h2>
            <p>Contatos</p>
            <p>Telefone: <b>(21) 99412-5940</b></p>
            <p>Email: <b>andrecsnogueira@gmail.com</b></p>
    </div>
    <div class="col-md-4">
        <h2>Pedro Osternack</h2>
            <p>Contatos</p>
            <p>Telefone: <b>(21) 99292-7871</b></p>
            <p>Email: <b>pedrostc@outlook.com</b></p>
    </div>
    <div class="col-md-4">
        <h2>Hudsom Mariano</h2>
            <p>Contatos</p>
            <p>Telefone: <b>(21) 97962-7961</b></p>
            <p>Email: <b>hudsommariano@gmail.com</b></p>
    </div>
</div>